@font-face {
    font-family: "Pacifico";
    src: url('../fonts/pacifico.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Teko";
    src: url('../fonts/Teko-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

body {
  font-family: "Pacifico";
}


.hunger-main-title {
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: "700";
  flex-wrap: 'wrap';
  width: auto;
  justify-content: "center";
  text-shadow: 1px -4px 1px #F96D21, 0px 4px 1px rgb(254,222,50);
  text-align: "center";
  font-family: 'Pacifico';
}

.main {
  font-family: "Pacifico";
  justify-content: center;
  text-align: center;
}

.hunger-content-container {
  max-width: 1366px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hunger-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hunger-description-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0px 1px 4px rgb(0,0,0, .5);
  margin-left: 50px;
  margin-top: 100px;
}

.red {
  color: red;
}
.hunger-description-text {
  font-family: 'Teko';
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .hunger-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
      flex-direction: column;
  }


  .hunger-description-container {
    margin-left: 0px;
    min-width: 380px;
  }
}


.hunger-titles {
  display: flex;
  color: white;
  font-size: 50px;
  font-weight: 700;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  text-shadow: 1px -1px 1px rgb(0,0,0, .5), 0px 2px 1px rgb(0,0,0, .5);
  text-align: center;
  font-family: 'Pacifico';
  align-items: center;
}

.body {
  background: #40e1f9;
}

/*
orange: #f96d21;
yellow: '#FFFD47'
blue: '#41CBFB'
lightblue: #40e1f9
red: #E22130
green: #78F94C
*/
